*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    font-family: serif, sans-serif;
    list-style: none;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #22294a;
    position: fixed;
    padding: 10px 0px;
    width: 100%;
    top: 0;
}
.montserrat{
    font-family: 'Montserrat';
}
.yellowtail{
    font-family: 'yellowtail';
}
header .montserrat{
    color: #ecc5c8;
}
header .yellowtail{
    margin-left: 10px;
    color: white;
}
body{
    padding-top: 60px;
    background-color: rgb(25, 25, 62);
}
.sections *{
    font-family: 'Montserrat', serif, sans-serif;
}
.sections{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sections > section{
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    background-color: #ffe6e3;
    width: 30%;
}
.sections > section .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sections > section img{
    width: 280px;
    height: 240px;
    margin: 25px 0px;
}
.sections > section p{
    text-align: justify;
    text-indent: 50px;
}
article{
    height: auto;
    width: 100%;
    padding: 30px;
}
article *{
    color: #ffe6e3;
}
article div{
    display: flex;
    flex-direction: column;
}
.minor-wishlist{
    background-color: #ffe6e3;
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
}
.minor-wishlist *{
    font-family: 'Montserrat', serif, sans-serif;
}   
.minor-wishlist div{
    margin: auto;
    margin-bottom: 20px;
    text-align: center; 
}
#submit-button{
    padding: 5px;
}
#item{
    padding: 5px;
}
.list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
}
.list-group-item:first-child{
    margin-top: 20px;
}
.list-group-item:last-child{
    margin-bottom: 0;
}
.list-group-item:hover, .list-group-item:hover span{
    background-color: rgb(189, 188, 188);
    color: white;
}
.list-group-item button{
    cursor: pointer;
    background-color: rgb(245, 139, 139);
    padding: 10px;
    border: 1px solid;
}
.list-group-item button:hover{
    background-color: red;
}
.minor-wishlist .checked{
    background-color: rgb(132, 132, 132);
}
.minor-wishlist .checked span{
    text-decoration: line-through;
    color: white;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecc5c8; 
    width: 100%;
    padding: 20px 0px;
}
footer h2{
    color: #22294a;
    font-family: 'yellowtail';
    font-size: 30px;
    letter-spacing: 2px;
    padding: 20px;
    text-align: center;
}
@media only screen and (max-width: 1100px){
    .sections{
        flex-direction: column;
        align-items: center;
    }
    .sections > section{
        width: 90%;
        margin-bottom: 40px;
    }
    .sections > section:last-child{
        margin-bottom: 0px;
    }
    .sections > section .content{
        flex-direction: row;
        align-items: flex-start;
    }
    .sections > section .content img{
        width: 240px;
        height: 200px;
    }
    .sections > section .content p{
        padding: 30px 20px;
        padding-right: 0px;
    }
    article{
        padding-left: 50px;
    } 
}
@media only screen and (max-width: 768px){
    *{
        color: white;
    }
    .minor-wishlist{
        background-color: #22294a;  
    }
    .list-group-item{
        border: 1px solid white;
    }
    .list-group-item button, .minor-wishlist .checked span, #addForm *{
        color: black;
    }
    .list-group-item:hover, .list-group-item:hover span{
        background-color: #858585;
        color: black;
    }
    .minor-wishlist .checked{
        background-color: rgb(169, 167, 167);
    }
    #addForm{
        color: bl;
    }
    header {
        background-color: #ffe6e3;
    }
    header .montserrat{
        color: #22294a;
    }
    header .yellowtail{
        color: black;
    }
    body{
        background-color: #ecc5c8; 
    }
    .sections > section{
        background-color: #22294a;
    }
    .sections h3{
        color: white;
    }
    article h4,div a{
        color: black;
    }
    footer{
        background-color: #22294a;
    }
    footer h2{
        color: #ffe6e3;
    }
    footer p{
        color: white;
    }
}
@media only screen and (max-width: 600px){
    .minor-wishlist{
        width: 90%;
    }
    #addForm{
        display: flex;
    }
    #addForm #submit-button{
        width: 50px;
    }
    #addForm #item{
        width: 100%;
        margin-right: 10px;
    }
    .sections section{
        padding: 10px;
    }
    .sections > section .content{
        flex-direction: column;
        align-items: center;
    }
    .sections > section .content img{
        margin: 10px 0px;
    }
    .sections > section .content p{
        padding: 15px;
    }
}

@media only screen and (max-width: 500px){
    header{
        flex-direction: column;
        padding: 0px;
    }
    header h1.yellowtail{
        margin: 0px;
    }
    article{
        padding: 30px;
    }
    footer p{
        font-size: 12px;
    }
}