*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    font-family: serif, sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #22294a;
    position: fixed;
    padding: 10px 0px;
    width: 100%;
    top: 0;
}
.montserrat{
    font-family: 'Montserrat';
}
.yellowtail{
    font-family: 'yellowtail';
}
header .montserrat{
    color: #ecc5c8;
}
header .yellowtail{
    margin-left: 10px;
    color: white;
}
body{
    padding-top: 60px;
    background-color: rgb(25, 25, 62);
}
.sections *{
    font-family: 'Montserrat', serif, sans-serif;
}
.sections{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sections > section{
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    background-color: #ffe6e3;
    width: 30%;
}
.sections > section .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sections > section img{
    width: 280px;
    height: 240px;
    margin: 25px 0px;
}
.sections > section p{
    text-align: justify;
    text-indent: 50px;
}
article{
    height: auto;
    width: 100%;
    padding: 30px;
}
article *{
    color: #ffe6e3;
}
article div{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecc5c8; 
    width: 100%;
    padding: 20px 0px;
}
footer h2{
    color: #22294a;
    font-family: 'yellowtail';
    font-size: 30px;
    letter-spacing: 2px;
    padding: 20px;
    text-align: center;
}
@media only screen and (max-width: 1100px){
    .sections{
        flex-direction: column;
        align-items: center;
    }
    .sections > section{
        width: 90%;
        margin-bottom: 40px;
    }
    .sections > section:last-child{
        margin-bottom: 0px;
    }
    .sections > section .content{
        flex-direction: row;
        align-items: flex-start;
    }
    .sections > section .content img{
        width: 240px;
        height: 200px;
    }
    .sections > section .content p{
        padding: 30px 20px;
        padding-right: 0px;
    }
    article{
        padding-left: 50px;
    } 
}
@media only screen and (max-width: 768px){
    *{
        color: white;
    }
    header {
        background-color: #ffe6e3;
    }
    header .montserrat{
        color: #22294a;
    }
    header .yellowtail{
        color: black;
    }
    body{
        background-color: #ecc5c8; 
    }
    .sections > section{
        background-color: #22294a;
    }
    .sections h3{
        color: white;
    }
    article h4,div a{
        color: black;
    }
    footer{
        background-color: #22294a;
    }
    footer h2{
        color: #ffe6e3;
    }
    footer p{
        color: white;
    }
}
@media only screen and (max-width: 600px){
    .sections{
        flex-direction: column;
    }
    .sections section{
        padding: 10px;
    }
    .sections > section .content{
        flex-direction: column;
        align-items: center;
    }
    .sections > section .content img{
        margin: 10px 0px;
    }
    .sections > section .content p{
        padding: 15px;
    }
}

@media only screen and (max-width: 500px){
    header{
        flex-direction: column;
        padding: 0px;
    }
    header h1.yellowtail{
        margin: 0px;
    }
    body{
        padding-top: 60px;
    }
    article{
        padding: 30px;
    }
    footer p{
        font-size: 12px;
    }
}